<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headlinks :: headFragment">
    <title id="pageTitle">Companies</title>
</head>
<body>
<div th:insert="fragments/header :: headerFragment"></div>
<div th:switch="${companies}" class="container-fluid">
    <div class="row">
        <div th:insert="fragments/side_menu :: sideMenuFragment"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <h2>Companies</h2>
            <h2 th:case="null">No users found!</h2>
            <table th:case="*" class="table">
                <thead>
                <tr>
                    <th scope="col" class="th_filter" style="min-width: 50px">ID</th>
                    <th scope="col" class="th_filter">Name</th>
                    <th scope="col" class="th_filter">Email</th>
                    <th scope="col" class="th_filter">Adress</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}">
                    <td th:text="${company.id}" class="align-middle" scope="row"></td>
                    <td th:text="${company.name}" class="align-middle"></td>
                    <td th:text="${company.email}"class="align-middle"></td>
                    <td th:text="${company.address}"class="align-middle"></td>
                    <td class="align-middle">
                        <div class="row justify-content-center">
                            <form th:action="@{company-update/{id}(id=${company.id})}" ><button type="submit" class="btn btn-success"><i class="bi bi-pencil-fill"></i></button></form>
                            <form th:action="@{company-delete/{id}(id=${company.id})}" th:method="delete">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
</body>
</html>